.custom-container {
    width: 85%;
    margin: 0 auto;
}
#header {
    background: #fff;
    box-shadow: 0px 0px 15px #000;
    position: fixed;
    width: 100%;
}



#header .custom-container .navbar-nav {
    position: relative;
    top: 10px;
}

#header .custom-container .navbar-nav .nav-item {
    margin-left: 20px;
    font-size: 14px;
    color: #323130;
}

#header .custom-container .navbar-nav .nav-item img {
   width: 50px;
   border-radius: 50%;
   height: 50px;
   position: relative;
   bottom: 10px;
}

#header .custom-container .navbar-nav .nav-link {
    color: #323130;
}

#header .custom-container input {
    background:#EFEFEF;
    border: none;
    height: 45px;
    border-radius: 7px 0 0 7px;
}

#header .custom-container input i {
    font-size: 14px;
}


#header .custom-container .input-group-text {
    background:#EFEFEF;
    color: #A19F9D;
    border: none;
    border-radius: 0px 7px 7px 0;
}

#header .custom-container ::placeholder {
    background:#EFEFEF;
    font-size: 13px;
    color: #A19F9D;
}

#header .custom-container .button-white {
    border: 1px solid #0F0708;
    color: #0F0708;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-white:hover {
    border: 1px solid #0F0708;
    background: #0F0708;
    color: #fff;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-dark {
    border: 1px solid #0F0708;
    background: #0F0708;
    color: #fff!important;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-dark:hover {
    border: 1px solid #0F0708;
    background: #fff;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
    color: #0F0708!important;
}

.dashboard-container {
    width: 93%;
    margin: 0 auto;
}

#dash-course .dash-course-flex{
    display: flex;
}

#dash-course .dash-course-flex .dash-course-nav{
    background: #FDE8E9;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    min-height: 88.5vh;
    padding: 40px 10px;
    width: 8%;
    text-align: center;
    position: fixed;
    top: 80px;
}

#dash-course .dash-course-flex .dash-course-nav .dash-nav-item {
    margin: 25px 0;
    color: #000;
}   

#dash-course .dash-course-flex .dash-course-nav .dash-nav-item p{
    margin: 8px 0;
    color: #000;
    font-size: 14px;
}   

#dash-course .dash-course-detail {
    width: 95%;
    margin-left: 8%;
}

#dash-course .dash-course-detail .sub-nav {
    background-color: #fff;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 92%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:-1;
}

#dash-course .dash-course-detail .sub-nav p{
    padding: 40px 0 10px 0;
    margin: 0 10px 0 40px ;
    border-bottom: 3px solid #FFF;
    cursor: pointer; 
    background: #fff;
}

#dash-course .dash-course-detail .sub-nav h1{
    padding: 10px 0 10px 0;
    margin: 0 10px 0 40px ;
    border-bottom: 3px solid #FFF;
    cursor: pointer; 
    font-size: 30px;
}

#dash-course .dash-course-detail .sub-nav button{
    position: relative;
    color: #0F0708;
    font-size: 14px;
    border: 1px solid #0F0708;
    border-radius: 6px;
    background: #fff;
    padding: 10px 15px;
    margin-right: 10px;
}

#dash-course .dash-course-detail .selected-courses {
    margin-top: 260px;
}

#dash-course .dash-course-detail .selected-courses .selected-course-card {
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#dash-course .dash-course-detail .selected-courses .selected-course-card p {
    color: #323130;
    font-size: 14px;
}

#dash-course .dash-course-detail .selected-courses .selected-course-card .title {
    color: #323130;
    font-size: 24px;
}

#dash-course .dash-course-detail .selected-courses .selected-course-card button {
    position: relative;
    color: #0F0708;
    font-size: 14px;
    border: 1px solid #0F0708;
    border-radius: 6px;
    background: #fff;
    padding: 10px 25px;
}

#dash-course .dash-course-detail .selected-courses .selected-course-card span {
    margin-right: 10px;
    font-weight: bold;
}